body
{
    background-color: black;
    color: yellow;
    height: 890px;
    width: 1910px;
    text-align: center;
}

.body-container
{
    margin: 0 auto;
}

h1
{
    font-size: 96px;
    font-weight: 700;
}

h2
{
    margin-top: 15px;
    font-size: 48px;
}

.choice-container
{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.computer-choice-container
{
    border:  2px solid yellow;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#computer-choice
{
    font-size: 44px;
    font-weight: 700;
}

.player-choice-container
{
    border: solid 2px yellow;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-choice
{
    font-size: 44px;
    font-weight: 700;
}

h3
{
    font-size: 24px;
    margin-top: 40px;
}

.text-2
{
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

.buttons-container
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#rock, #paper, #scissors
{
    width: 325px;
    height: 95px;
    border: 2px solid yellow;
    font-size: 72px;
    font-weight: 700;
    color: yellow;
    background-color: black;
}